{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/auth/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/auth/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/auth/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/auth/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/auth/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/auth/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/auth/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/auth/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/auth/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/auth/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/static/auth/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Register
					</span>
				</div>

				<form class="login100-form validate-form" method="post">
                    {% csrf_token %}
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Full Name is required">
                        <span class="label-input100">To'liq ism</span>
                        <input class="input100" type="text" name="full_name" placeholder="To'liq ism familiya">
                        <span class="focus-input100"></span>
                    </div>
                
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" placeholder="Username kiriting">
                        <span class="focus-input100"></span>
                    </div>
                
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Valid email is required">
                        <span class="label-input100">Email</span>
                        <input class="input100" type="email" name="email" placeholder="Email kiriting">
                        <span class="focus-input100"></span>
                    </div>
                
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Telefon raqam majburiy">
                        <span class="label-input100">Telefon</span>
                        <input class="input100" type="text" name="telefon" placeholder="Telefon raqam kiriting">
                        <span class="focus-input100"></span>
                    </div>
                
                    <div class="wrap-input100 validate-input m-b-18" data-validate="Parol majburiy">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="password" placeholder="Parol kiriting">
                        <span class="focus-input100"></span>
                    </div>
                
                    <div class="wrap-input100 validate-input m-b-18" data-validate="Takroriy parol majburiy">
                        <span class="label-input100">Confirm Password</span>
                        <input class="input100" type="password" name="confirm_password" placeholder="Parolni takrorlang">
                        <span class="focus-input100"></span>
                    </div>
                
                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>
                    </div>
                
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Register
                        </button>
                    </div>

                    <!-- agar register qibogan bo'lsa -->
                    <div class="text-center p-t-115">
                        <span class="txt1">
                            Account bor?
                        </span>
                        <a class="txt2" href="{% url 'login' %}">
                            Kirish
                        </a>
                    </div>
                    
                </form>
                
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="/static/auth/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/auth/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/auth/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/auth/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/auth/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/auth/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/auth/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/auth/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/auth/js/main.js"></script>

</body>
</html>